<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=320px" />
        <title>LED Steuerung</title>

        <link rel="manifest" href="manifest.json">
        <meta name="mobile-web-app-capable" content="yes">

        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
              
        <script src="/angular/angular.min.js"></script>
        <script src="/jquery/dist/jquery.min.js"></script>
        <link href="/css/styles.css" rel="stylesheet" type="text/css"></link>

        <script src="/functions.js"></script>
        <script src="/src/controller/alarmClock.controller.js"></script>
    </head>
    <body ng-app="ledSteuerung">

        <div class="sliderContainer" id="stripAContainer" ng-init="stripId = 'A'" ng-controller="sliderController">
            <h2>Sofa</h2>
            <div class="buttonContainer">
                <span ng-click="toggleLight()" class="glyphicon glyphicon-off onOffButton" ng-class="{ 'stripIsOn' : !stripIsOff }"></span>
            </div>
            <div class="range-slider">
                <input class="range-slider__range red" ng-model="cycle['red']" ng-init="cycle['red'] = 0" ng-change="cyleChanged('red')" ng-disabled="stripIsOff" type="range" name="green" min="0" max="51">
            </div>
            <div class="range-slider">
                <input class="range-slider__range green" ng-model="cycle['green']" ng-init="cycle['green'] = 0" ng-change="cyleChanged('green')" ng-disabled="stripIsOff" type="range" name="green" min="0" max="51">
            </div>
            <div class="range-slider">
                <input class="range-slider__range blue" ng-model="cycle['blue']" ng-init="cycle['blue'] = 0" ng-change="cyleChanged('blue')" ng-disabled="stripIsOff" type="range" name="green" min="0" max="51">
            </div>
        </div>

        <div class="sliderContainer" id="stripBContainer" ng-init="stripId = 'B'" ng-controller="sliderController">
            <h2>Bett</h2>
            <div class="buttonContainer">
                <span ng-click="toggleLight()" class="glyphicon glyphicon-off onOffButton" ng-class="{ 'stripIsOn' : !stripIsOff }"></span>
            </div>
            <div class="range-slider">
                <input class="range-slider__range red" ng-model="cycle['red']" ng-init="cycle['red'] = 0" ng-change="cyleChanged('red')" ng-disabled="stripIsOff" type="range" name="green" min="0" max="51">
            </div>
            <div class="range-slider">
                <input class="range-slider__range green" ng-model="cycle['green']" ng-init="cycle['green'] = 0" ng-change="cyleChanged('green')" ng-disabled="stripIsOff" type="range" name="green" min="0" max="51">
            </div>
            <div class="range-slider">
                <input class="range-slider__range blue" ng-model="cycle['blue']" ng-init="cycle['blue'] = 0" ng-change="cyleChanged('blue')" ng-disabled="stripIsOff" type="range" name="green" min="0" max="51">
            </div>
        </div>        
    </body>
</html>