body {
    padding: 20px 8px;
    background-color: #171e24;
    color: #e7e7e7;
}

.sliderContainer{
    margin: 8px auto 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 5px;
    background-color: #1c2a35;
    max-width: 500px;
    border-radius: 3px;
}

.buttonContainer{
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: 16px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
    cursor: pointer;
    background-color: #29323a;
}

.buttonContainer span{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    padding-top: 9px;
    top: 0;
    font-size: 23px;
}

.buttonContainer span.stripIsOn{
    background-color: teal;
}

.effectButtonContainer{
    float: none;
    margin: 5px;
    width: 30px;
    height: 30px;
}

.effectButtonContainer span{
    font-size: 18px;
    padding-top: 6px;
}

.fadeEffect{
    background: linear-gradient(to right, #ff0000, #00ff00, #0000ff);
    color: black;
}

h2{
    display: inline-block;
}

.sliderContainer{
    padding: 0 15px 15px;
    position: relative;
}

.range-slider {
  margin: 30px 0;
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: transparent;
  outline: none;
  padding: 0;
  margin: 0;
}

.range-slider__range::-webkit-slider-runnable-track{
    background:#d7dcdf;
    border: 0;
    height: 3px;
}

.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
  margin-top: -8px;
}

.range-slider__range:disabled::-webkit-slider-thumb{
    background-color: black !important;
}

.range-slider__range.red::-webkit-slider-thumb{
    background-color: #ff0000;
}

.range-slider__range.green::-webkit-slider-thumb{
    background-color: #00ff00;
}

.range-slider__range.blue::-webkit-slider-thumb{
    background-color: #0000ff;
}

.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.range-slider__range:disabled::-moz-range-thumb{
    background-color: black !important;
}

.range-slider__range.red::-moz-range-thumb{
    background-color: #ff0000;
}

.range-slider__range.green::-moz-range-thumb{
    background-color: #00ff00;
}

.range-slider__range.blue::-moz-range-thumb{
    background-color: #0000ff;
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

#timeContainer{
    margin-bottom: 15px;
}

#timeContainer label span{
    margin-bottom: 5px;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
}

#timeContainer .range-slider__range::-webkit-slider-thumb{
    background: teal;
}
#timeContainer .range-slider__range::-moz-range-thumb{
    background: teal;
}

#timeDisplayContainer{
    display: flex;
    margin: 20px 0 5px;
    text-align: center;
}

#timeDisplayContainer span{
    font-size: 1.5em;
    padding: 0 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
}

#dayContainer input{
    display: none;
}

#dayContainer span{
    display: inline-block;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    background-color: #404e5b;
    cursor: pointer;
}

#dayContainer input:checked + span{
    background-color: teal;
}

#dayContainer input:disabled + span{
    background-color: #29323a;
}

#dayContainer input:disabled:checked + span{
    background-color: #004040;
}




.material-toggle{
    display: block;
    position: absolute;
    right: 0;
    width: 60px;
    top: 24px;
}

.material-toggle input:empty {
    margin-left: -9999px;
}

.material-toggle input:empty ~ label {
    position: relative;
    float: left;
    width: 150px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.material-toggle input:empty ~ label:before, 
.material-toggle input:empty ~ label:after {
    position: absolute;
    display: block;
    content: ' ';
    -webkit-transition: all 250ms cubic-bezier(.4,0,.2,1);
    transition: all 250ms cubic-bezier(.4,0,.2,1);
}

.material-toggle input:empty ~ label:before {
    top: 1px;
    left: 0px;
    width: 46px;
    height: 20px;
    border-radius: 12px;
    background-color: #bdbdbd;
}

input.switch:empty ~ label:after {
    top: -2px;
    left: -2px;
    width: 1.4em;
    height: 9px;
    bottom: 0.1em;
    margin-left: 0.1em;
    background-color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 2px;
    border-color: #fff;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
}

.material-toggle input:checked ~ label:before {
    background-color: #00bebe;
}

.material-toggle input:checked ~ label:after {
    left: 20px;
    background-color: teal;
    border-color: teal;
}